<h1>Images#new</h1>
<%= form_with model: @image, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :image %>
  <%= form.file_field :image %>
  <p><%= form.submit "Upload" %></p>
<% end %>